<h1 class="presentation">{{title}}</h1>
{{!-- <p>Welcome, {{name}}. You are logged in.</p> --}}

<div class="profileCard">
    <img src="#" alt="User profile to go here">
    <h2>Jacob Reilly-Cooper</h2>
    <p class="profileCardTitle">Role to go here.</p>
    <p>Place of work</p>
    <p><button id="profileButton"><a href="https://linkedin.com/in/jacobreillycooper" target="_blank">LinkedIn</a></button></p>
</div>