<h1>{{title}}</h1>

<section>
    <div class="row">
        <div class="left">
            <div class="post">
                <h2>First post</h2>
                <h4>Description of blog along with date.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, eaque.</p>
            </div>
            <div class="post">
                <h2>Second post</h2>
                <h4>Description of blog along with date.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, eaque.</p>
            </div>
        </div>
    </div>
</section>