<h1>{{{title}}}</h1>    
<form action="/login" method="POST">
    {{!-- <input type="text" placeholder="username" name="name"> --}}
    <input type="text" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <input type="submit" value"send">
</form>

<h2>Welcome, {{name}}. You have logged in successfully to the website.</h2>
<p>More features will be added soon.</p>
