<h1>Sign up to my legit website.</h1>
<p>It is honestly 118% legit.</p>

<form action="/signup" method="POST">
    {{!-- <label for="name"name: >Hello</label> --}}
    <input type="text" placeholder="username" name="name">
    <input type="password" placeholder="password" name="password">
    <input type="submit" value="Sign up">
</form>

<p>{{name}}</p>